<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.Hyqclient" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>餐饮圈</name>
    <description>
      An app for professional communities.
    </description>
    <author email="mobay@arrking.com" href="http://www.arrking.com">
      ARRKING MOBILE APP DEV TEAM
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
