.list-contacts .list
{
    margin-right: 15px;
}

.list-contacts .item
{
    padding-top: 10px!important;
    img {
        box-sizing: border-box;
        border: 1px solid #dfdfdf;
        padding: 2px;
    }
}