.slider {
  width: 100%;
  height: 100%;
}

ion-slide img {
	width:100%; 
	height: 270px;	
}

.slider-slides {
	height: 270px;
}

.slider-pager {
	top: 250px;
}

div .has-header.slider {
	height: 270px;
}