.mr3
{
	margin-right: 3px!important;
}

.mb0
{
	margin-bottom: 0 !important;
}

.pb0
{
	padding-bottom: 0 !important;
}

.pt10
{
	padding-top: 10px !important;
}

.fr
{
	float: right;
}

.hide-tabs .tabs {
    display: none;
}

.hide-tabs .has-tabs {
  bottom: 0px;
}