.alpha-sidebar {
    position: fixed;
    height: 100%;
    top: 45px;
    right:  0px;
    z-index: 1000;
}
.alpha-sidebar ul {
    width: 24px;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}
.alpha-sidebar li {
    color: #aaa;
    margin-bottom: 3px;
    cursor: pointer;
}