<ion-view title="职位详情">
  <ion-content class="has-header stable-bg detail-positions" has-header="true">
    <ion-list type="list-inset">
      <ion-item class="pb0">
        <div class="row">
          <div class="col col-100">
            <h2 class="title">招聘厨师 五险一金 供吃住<small class="fr date">2014-12-21</small></h2>
            <p>海底捞餐饮文化有限公司</p>
            <p><strong class="salary">8000-12000元</strong></p>
          </div>
        </div>
        <div class="row connect">
          <div class="col col-67">
            <p class="phone">电话:010-62280000</p>
          </div>
          <div class="col col-33">
            <button class="button button-positive button-block button-small icon ion-ios7-telephone">
              电话咨询
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list type="list-inset">
      <ion-item class="item-divider">
        职位详情
      </ion-item>
      <ion-item>
        <p>地点：北京</p>
        <p>职位：厨师</p>
      </ion-item>
    </ion-list>
    <ion-list type="list-inset">
      <ion-item class="item-divider">
        职位描述
      </ion-item>
      <ion-item class="item-text-wrap">
        <p>职位描述：厨师，是以烹饪为职业，以烹制菜点为主要工作内容的人。厨师这一职业出现很早，大约在奴隶社会，就已经有了专职厨师。随着社会物质文明程度的不断提高，厨师职业也不断发展，专职厨师队伍不断扩大，根据有关资料统计，21世纪初，世界厨师队伍已发展到数千万人，中国素以烹饪王国著称于世，厨师力量和人数首屈一指。厨师在某种程度上来说是人类的第二父母---世界非政府组织同意将10月20日定为厨师节。2014年10月2日，陕西杨运合先生设立“厨师节提案申请工作室”。提案将建议每年的12月22日定为“厨师节日”（22--25日为法定节假日，节日加班享受双倍工资等），促进厨师节走向法定化，该提案目前已进入实施游说阶段。</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="middle" class="stable-bg">
    <div class="button-bar">
      <button class="button button-balanced icon ion-ios7-telephone">电话咨询</button>
      <button class="button button-balanced icon ion-ios7-redo">分享职位</button>
    </div>
      
    </div>
  </ion-footer-bar></ion-view>