<ion-view title="通讯录">
  <ion-content class="has-header">
    <ion-list class="list-contacts">
      <ion-item class="item-thumbnail-left" ng-repeat="contact in contacts" type="item-text-wrap">
      	<img src="images/dummy-avatar.jpg">
      	<div class="row">
      		<div class="col col-67">
		        <h2>{{contact.name.lastname}} {{contact.name.firstname}}</h2>
    			<h2 class="mb0 positive"><i class="icon ion-ios7-telephone"></i>{{contact.phone}}</h2>
    			<p>{{contact.company}}</p>
      		</div>
      		<div class="col col-33">
      			<p><i class="icon ion-ios7-location royal mr3"></i>{{contact.city}}</p>
      		</div>
      	</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
