<ion-view title="通讯录">
  <ion-content class="has-header">
    <ion-list class="list-contacts">
      <ion-item class="item-divider">A</ion-item>
      <ion-item class="item-avatar" ng-repeat="contact in contacts" type="item-text-wrap">
        <img src="images/dummy-avatar.jpg">
        <h2>
          <span>{{contact.name.lastname}} {{contact.name.firstname}}</span>
          <small>{{contact.company}}</small>
        </h2>
        <p>
          <span><i class="icon ion-ios7-telephone dark mr3"></i>{{contact.phone}}</span>
          <span class="fr"><i class="icon ion-ios7-location royal mr3"></i>{{contact.city}}</span>
        </p>
      </ion-item>
      <ion-item class="item-divider">B</ion-item>
      <ion-item class="item-avatar" ng-repeat="contact in contacts" type="item-text-wrap">
        <img src="images/dummy-avatar.jpg">
        <h2>
          <span>{{contact.name.lastname}} {{contact.name.firstname}}</span>
          <small>{{contact.company}}</small>
        </h2>
        <p>
          <span><i class="icon ion-ios7-telephone dark mr3"></i>{{contact.phone}}</span>
          <span class="fr"><i class="icon ion-ios7-location royal mr3"></i>{{contact.city}}</span>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
  <alpha-sidebar alphabet="alphabet"></alpha-sidebar>
</ion-view>