<ion-view title="招聘">
  <ion-content class="has-header">
    <ion-list class="list-positions">
      <ion-item ng-repeat="position in positions">
      	<a class="row" href="#/tab/jobs/detail/{{position.id}}">
      		<div class="col col-80">
		        <h2>{{position.title}}</h2>
    			<p>{{position.company}}</p>
    			<p><strong class="assertive">{{position.salary[0]}}-{{position.salary[1]}}元</strong></p>
      		</div>
      		<div class="col col-20">
      			<p><i class="icon ion-ios7-location royal mr3"></i>{{position.city}}</p>
      		</div>
      	</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>